* {
  box-sizing: border-box;
}

/*投稿ボタンなど*/
.add-box {
  margin-top: 10px;
  height: 100px;
  background-color: black;
}

/*新着投稿一覧*/
.game-lists {
  margin-top: 10px;
  height: 200px;
  background-color: darkgray;
}